/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  padding: 2rem;
}

/* Styling for main site header */
header {
  font-family: 'Space Mono', monospace;
  background: #6F4E37;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: calc(1em + 3vw);
  margin-bottom: 0.2em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
  line-height: 1.3;
}

/* Styling for button that brings user to album revies */
.albumButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 24px;
  text-decoration: none;
  display: block;
  margin: 1em auto;
}